<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Point_sys.Properties.Settings.PointSysConnectionString"
            connectionString="User Id=postgres;Password=es23;Host=localhost;Database=PointSys;Persist Security Info=True"
            providerName="Devart.Data.PostgreSql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>